* {
  box-sizing: border-box;
}

/* Rock-Paper-Scisors Images */
.rps-selection {
  align-items: center;
  margin-top: 5%;
  margin-left: 5%;
}

/* Individual Rock-Paper-Scisors Image */
.rps {
  width: 30%;
  height: 100px;  
}

.result-section {
  text-align: center;
}