* {
  box-sizing: border-box;
}

/* Rock-Paper-Scisors Images */
.rps-selection {
  align-items: center;
  margin-top: 5%;
  margin-left: 5%;
}

/* Individual Rock-Paper-Scisors Image */
.rps {
  width: 30%;
  height: 100px;  
}

.result-section {
  text-align: center;
}

#chat-board {
  height: 70vh;
  border: 1px solid #bcbcbc;
  margin: 0.5%;
  text-align: left;
  overflow: auto;
  /* overflow-y: scroll; */
}

#chat-text {
  overflow: visible;
}