* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom right, aqua, cornflowerblue);
  height: 100vh;
}

/* Rock-Paper-Scisors Images */
.rps-selection {
  align-items: center;
  margin-top: 5%;
  margin-left: 5%;
}

/* Individual Rock-Paper-Scisors Image */
.rps {
  width: 30%;
  height: 100px;  
}

/* win/loss/tie result */
.result-section {
  text-align: center;
}

/* chat room box */
#chat-board {
  height: 70vh;
  border: 1px solid #bcbcbc;
  margin: 0.5%;
  text-align: left;
  overflow: auto;
}

#chat-text {
  overflow: visible;
}